.Lectorem {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  background-color: #fff;
  max-width: 1000px;
  min-width: 400px;
}

.Lectorem .playerContainer {
  padding: 5px;
}

.Lectorem h2 {
  margin: 5px;
  padding: 0;
}

.Lectorem h3 {
  margin: 5px;
  padding: 0;
}
